/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    /* moves padding and border to inside the "div" */
    box-sizing: border-box;
}








/* ----- MY CODE HERE - Desktop size & general stuff ---------- */

* {
	cursor: none;
	}

body {overflow-x: hidden;}


/* CURSOR */
.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 30;
}
.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #000;
}
.cursor-dot-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
}
/* END CURSOR */



#intro-tablet,#intro2-tablet, #intro-mobile, #intro2-mobile, .selectedworks-mobile, #selectedworks1, #selectedworks2, #selectedworks3, #wheel-mobile, .selectedworkstext, .viewall-mobile{
	display: none;
}

#arrow {
	display: block;
	position: absolute;
	right: 15%;
	margin-top: -4.05vw;
	}

#mobilenav{display: none;}
nav {
	width: 93.5%;
	padding-top:3%;
	padding-left: 4%;
	padding-right: 4%;
	box-sizing: content-box;
	margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
	border-bottom: 2px solid;
	background-color: white;
	z-index: 2;
	position: fixed;
	right: 0;
	left: 0;
  
}

nav a {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
	background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
/* Hover Effect */
	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	-moz-osx-font-smoothing: grayscale;
  	position: relative;
  	-webkit-transition-property: color;
  	transition-property: color;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	padding: 8px 15px;
  	text-decoration: none;  
}
nav a:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	border-top: 3px solid;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }

nav a:hover, nav a:focus, nav a:active {
	color: #000;
  }

nav a:hover:before, nav a:focus:before, nav a:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
  }

#logo:before{
	border: none;
}


#logo img{width: 250px; }

#logo{margin-right: auto;
background-color: white;
z-index: -1;
}

header{margin: auto;}

#intro {
    position: absolute;
    font: 600 100px 'Montserrat', sans-serif;
    top: 20vw;
    left: 12vw;
    white-space: nowrap;
	text-align: left;
}
#intro2 {
    position: absolute;
    font: 600 100px 'Montserrat', sans-serif;
    top: 18vw;
    left: 12vw;
	padding-top: 10%;
    white-space: nowrap;
	text-align: left;
}
#wheel {
position: absolute;   
    top: 18vw;
    left: 70vw;  
	transition: .3s ease;
}

/* --------------------------------------------------- */

#instagram{
	position: fixed;
    top: 80vh;
    right: .7vw;
    z-index: 12;
    width: 26px; 
}
#instagram img {
	width: 100%;
}

#email{
	position: fixed;
    top: 85vh;
    right: .7vw;
    z-index: 12;
    width: 26px; 
}

#email img {
	width: 100%;
}



#email:hover .overlay {
	opacity: 1;}

#resume{  
	position: fixed;
	width: 100px;
	height:2.4vw;
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
	font: 500 16px 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: 500;
	line-height: 2.3vw;
	top: 75vh;
    right: 3px;
    z-index: 15;
	text-align: center;
	transform-origin: top right;
	-ms-transform: rotate(90deg); /* IE 9 */
	transform: rotate(90deg);
	
}

#resume:hover{color: #000;
background-color: #fff;
border: 2px solid;
transition: .5s ease;
}

#container {width: 95%;
margin: auto;
border-right: 2px solid;
border-left: 2px solid;
}

#gallery{
	margin: auto;
	padding-top:45vw;
	width: 100%;
}


/* ---- grid ---- */

.grid {
	background: #fff;
	max-width: 1500px;
	margin: auto;
	display: flex;
	width: 100%;
	padding-bottom: 10vw;
	
  }
  
  /* clear fix */
  .grid:after {
	content: '';
	display: block;
	clear: both;
  }
  
  /* ---- .grid-item ---- */
  
.is-checked {
	background-size: 90% 2px, auto !important;
}

  .grid-item {
	margin-top: 20px;
	float: left;
	width: 450px;
	height: 450px;
	background: #fff;
	border-bottom: 15px solid #fff;
	border-top: 15px solid #fff;
	
  }


  .grid-item img {
	  width: 100%;
  }
  
  .grid-item--width2 { width: 400px;}
  .grid-item--height2 { height: 400px;}
  
.button-group .filters-button-group{
	text-align: center;
}

.button-group{
	margin: auto;
	margin-bottom: 10px;
	max-width: 1510px;}

.button{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
	color: black;
	text-transform: uppercase;
	border: none;
	background-color: white;
/* hover underline */
	background-image: linear-gradient(#000, #000), linear-gradient(#fff, #fff);
	background-size: 0 1px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: all .2s ease-out;

	}

.button:hover {
	/* The following line makes the underline only as wide as the text */
	/* background-size: calc(100% - 2em) 5px, auto; */
	background-size: 90% 2px, auto;
	}

.button:active {background-size: 90% 2px, auto;
}














	/* Text over Project Thumbnails */
	
	#gallery .grid-item a .galtext{
		padding: .5vw;
		margin: auto;
		box-sizing: border-box;
		position: absolute;
		z-index: 1;
		width: 100%;
		text-align: left;
		margin-top: 3vw;
		color:#000;
		transition: all 1s ease;
	}

	.galtext h2{
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 36px;
		transition: all 1s ease;
		padding-top: 20%;
	}

	/* Specific styles for longer titles */
	.galtext, .herefortheholidays h2{
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 25px;
		transition: all 1s ease;
		padding-top: 20%;
	}

	.galtext, .kem h2, .f91w h2, .together h2{
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 30px;
		padding-top: 20%;
	}
	.galtext h3{text-align: center;
		font-family: 'playfair display', serif;
		font-style: italic;
		font-weight: 700;
		font-size: 20px;
		transition: all 1s ease;
		padding-top: 3%;
	}


/* Text over Project Thumbnails (HOVER) */

	#gallery .grid-item a .galtext{
		display: none;
	}
	#gallery .grid-item a:hover .galtext{
		display: block;
		transition: all 1s ease;
		opacity: 1;
	}
	#gallery .grid-item a img{
		width:100%;
		height:100%;
		object-fit:cover;
		opacity: 1;
		transition: all 1s ease;
		
	}
	#gallery .grid-item a:hover img{
	/*    background-color: white;*/
		opacity: .3;
			}

/* --------------------- */

.footer{width: 95%;
	background-color: #000;
	height: 2vw;
	margin: auto;
	padding-top: .46vw;
	
	}

	.footer a{font-size: 16px;
		font-family: 'Montserrat', sans-serif;
			font-weight: 500;
		text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	margin-left: 70%;
	padding-top: 25px;
}



@media (max-width: 1630px) {

	#gallery{
		width: 80%;
	}
	/* ---- grid ---- */
	.grid {
		max-width: 1300px;}	
	
	.grid-item {
		width: 380px;
		height: 380px;
			
		  }
	
	.button-group{
		margin: auto;
		margin-bottom: 10px;
		max-width: 1300px;}
	}

@media (max-width: 1603px) {

	#gallery{
		width: 80%;
	}
		
	/* ---- grid ---- */
	.grid {
		max-width: 1300px;}
	.grid-item {
		width: 350px;
		height: 350px;				
	  }
	  .button-group{
		margin: auto;
		margin-bottom: 10px;
		max-width: 1300px;}
	}
		
	@media (max-width: 1600px) {

		#gallery{
			width: 90%;
		}
			
		/* ---- grid ---- */
		.grid {
			max-width: 1300px;}
		.grid-item {
			width: 350px;
			height: 350px;				
		  }
		  .button-group{
			margin: auto;
			margin-bottom: 10px;
			max-width: 1300px;}
		}

			
#intro {
    font: 600 90px 'Montserrat', sans-serif;
    top: 18vw;
    left: 8vw;
}
#intro2 {
    font: 600 90px 'Montserrat', sans-serif;
    top: 18vw;
    left: 8vw;
}
#wheel {
position: absolute;   
    top: 18vw;
    left: 70vw;  
	transition: .3s ease;
}
#arrow{right: 5vw;
	margin-top: -5vw;}

		@media (max-width: 1410px) {

			#gallery{
				width: 100%;
			}
				
			/* ---- grid ---- */
			.grid {
				max-width:70%;}
				.grid-item {
					width: 400px;
					height: auto;
				  }
	
				  .grid-item.fm{
					  padding-right: 5%;
				  }
			
			  .button-group{
				margin: auto;
				margin-bottom: 10px;
				max-width: 1000px;}
				#intro {
					font: 600 70px 'Montserrat', sans-serif;
					top: 19vw;
					left: 8vw;
				}
				#intro2 {
					font: 600 70px 'Montserrat', sans-serif;
					top: 17vw;
					left: 8vw;
				}
				#wheel {
				position: absolute;   
					top: 14vw;
					left: 69vw;  
					transition: .3s ease;}
				#wheel img{width: 20vw}

				#instagram img{width: 80%;}
				#instagram {right: .2vw;}

				#email img{width: 90%;}
				#email {right: .2vw;}
				#arrow{right: 5vw;
					margin-top: -5vw;
				}
			}

















/* mobile */
@media (max-width: 1080px) {
	#intro, #intro2{display: none;}
	#intro-tablet,#intro2-tablet, #intro-mobile, #intro2-mobile, .selectedworks-mobile, #selectedworks1, #selectedworks2, #selectedworks3, #wheel-mobile, .selectedworkstext, .viewall-mobile{
display: block;}
#mobilenav{display: block;}
	#intro-tablet {
		position: absolute;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 5vw;
		top: 30vw;
		left: 32vw;
		white-space: nowrap;
		transform: translateX(-50%) translateY(-50%);
		text-align: left;
	}
	#intro2-tablet {
		position: absolute;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 5vw;
		top: 33vw;
		left: 30.3vw;
		padding-top: 10%;
		white-space: nowrap;
		transform: translateX(-50%) translateY(-50%);
		text-align: left;
	}

	#wheel {
		position: absolute;   
			top: 20vw;
			left: 65vw;  
			transition: .3s ease;}
	#wheel img {
		width: 25vw;}
	

		#instagram{
			position: fixed;
			top: 80vh;
			right: 2px;
			z-index: 12;
			width: 17px; 
		}
		#instagram img {
			width: 100%;
		}
		
		#email{
			position: fixed;
			top: 85vh;
			right: 2px;
			z-index: 12;
			width: 17px; 
		}
		
		#email img {
			width: 100%;
		}
		
		#resume{  
			top: 75vh;
			right: 2px;


 
}

#gallery{
	width: 100%;
}
	
/* ---- grid ---- */
.grid {
	max-width: 1000px;}
.grid-item {
	width: 400px;
	height: 400px;				
  }
  .button-group{
	margin: auto;
	margin-bottom: 10px;
	max-width: 1000px;}


#intro-tablet,#intro2-tablet{display: block;}

/* mobile nav */


#mobilenav{background-color: #000;
}
#mobilenav a {
	display: block;
	text-decoration: none !important;
	color: #000;
	transition: color 0.3s ease;
	background-color: #fff;
}

#mobilenav a:hover {
	transform: none;

}

#menuToggle {
	display: block;
	position: absolute;
	color: #000;
	top: 9vw;
	right: 4vw;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	border-radius: 0px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}

#menuToggle .navtitle {
	
	background-color: #fff;
	text-align: center;
	font: 600 18px 'Montserrat', sans-serif;
	letter-spacing: 3px;
	right: 100%;

	color: #000;

}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
	
}

#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	height: 100vh;
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -100px;
	background: #fff;
	font: 600 100px 'Montserrat', sans-serif;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}


nav a{display: none;}

#logo{display: block;}

#instagram, #email, #resume{
	display: none;
}

#intro, #intro-2, #intro-tablet, #intro2-tablet{
	display: none;
}

header{margin: auto;}

#intro-mobile{
	display: block;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		padding-top: 30vw;
		font-size: 8vw;
		margin: auto;
		text-align: center;
}

#intro2-mobile{
	display: block;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		padding-top: 3vw;
		font-size: 8vw;
		margin: auto;
		text-align: center;
}


#wheel{display: none;}

#wheel-mobile{width: 50%;
margin: auto;
padding-top: 10vw;}


#wheel-mobile img{
	width: 100%;
}

#gallery{display: none;}

#logo img{width: 50vw;}

#logo{left: -3vw;}

.selectedworks-mobile h2{
	font-family: 'playfair display', serif;
	margin: auto;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	padding-top: 10vw;
}
.selectedworks1, .selectedworks2, .selectedworks3 {width: 100%; height: 200px;
background-size: cover;
background-repeat: no-repeat;
margin-top: 10vw;
}

.selectedworks1{
	background-image:url(images/thumbnail-mindamins.jpg);
}

.selectedworks2{
	background-image:url(images/thumbnail-timetowatch.jpg);
}

.selectedworks3{
	background-image:url(images/thumbnail-together.jpg);
}


.selectedworkstext{width: 100%;
text-align: right;
margin: auto;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
text-transform: uppercase;
width: 95%;
margin-top: 2vw;
font-weight: 500;}


.footer{height: 20px;
margin-top: 20px;}
.footer a{font-size: 10px;}




.viewall-mobile h2{
	font-family: 'playfair display', serif;
	margin: auto;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	padding-top: 10vw;
	font-style: italic;
	border-bottom: 1px solid;
	border-width: 2px;
}

#arrow{right: 5vw;
	margin-top: -5vw;
}


}



